@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "europa", sans-serif;
    font-style: normal;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.img-logo {
    width: 8rem;
    margin-left: 7rem;
    margin-top: 2%;
}

.link-inscription {
    color: #fff;
    background-color: #2d96c8;
    border-radius: 100px;
    text-decoration: none;
    padding: 13px 20px 13px 30px;
    font-size: 20px;
    margin: 13px 30px 13px 0px;
}

.link-conexion {
    color: #2d96c8;
    border: 2px solid #2d96c8;
    border-radius: 100px;
    padding: 10px 20px 10px 40px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 20px;
}

.container-header {
    margin-right: 20px;
}

.menu {
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.link-header {
    text-decoration: none;
    color: #363636;
    font-size: 20px;
    margin-right: 30px;
}

.container-register {
    display: flex;
}

.block {
    margin-left: 15%;
}

.img-register {
    width: 90%;
}

.p-premium {
    color: #fff;
    background-color: #ef5466;
    border-radius: 100px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10px;
}

.p-free {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 10px;
    margin-left: 20px;
}

.btn-register {
    display: flex;
}

.parag-block {
    color: #ef5466;
    font-size: 20px;
    font-weight: 500;
}

.title-block {
    margin-top: 7rem;
    font-size: 2rem;
    font-weight: 900;
}

.info-card {
    background-color: #f9f9f9;
}

.schedule__card {
    display: flex;
}

.img-card {
    width: 80%;
    padding-top: 4rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
}

.info-site {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.title-question {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.schedule__card h2 {
    font-weight: 600;
    font-size: 1rem;
}

.schedule__info__container {
    margin-right: 3rem;
}

.main__container {
    background-color: #ef5466;
}

.main__article-container {
    display: flex;
    justify-content: center;
}

.main__parag__container {
    width: 30%;
    margin-left: 10%;
    padding-bottom: 25px;
    padding-top: 25px;
}

.main__parag__container h1 {
    color: #fff;
    font-size: 1.6rem;
}

.main__parag__container p {
    color: #fff;
    font-size: 11px;
    opacity: 0.8;
}

.card-middle {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 0.4rem;
    border-radius: 0.4rem;
    background-color: #2d96c8;
    color: #fff;
}

.fo {
    color: #fff;
    opacity: 0.7;
    font-size: 34px;
    padding-top: 3rem;
    margin: 10px;
}

.card {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    margin: 0.4rem;
    padding: 1.5rem;
}

.card__container {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.mainn__title {
    padding-top: 7rem;
    padding-bottom: 5rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.title__h2 {
    text-align: left;
    font-size: 1.5rem;
}

.title__h3 {
    margin: 0.5rem 0;
}

.title__h2--center {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title-best {
    padding-top: 2rem;
}

.btn__container {
    display: flex;
    flex-direction: column;
    background-color: #8e8e94;
    border-radius: 100px;
}

.p--1 {
    color: #fff;
}

.nn {
    background-color: #ef5466;
    color: #fff;
}

.main__title {
    text-align: center;
    font-weight: 700;
}

.container__price {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.card__p {
    font-size: 12px;
    padding: 2rem 0rem 6rem;
    color: #8e8e94;
}

.card__P2 {
    color: #2d96c8;
    text-align: center;
    padding: 1rem 0rem 0rem 0rem;
}

.crd {
    font-size: 12px;
    padding: 2rem 0rem 6rem;
}

.p__1 {
    text-align: center;
}

.lk {
    color: #ffff;
    text-align: center;
    padding: 1rem 0rem 0rem 0rem;
}

.btn {
    color: #fff;
}

.nnn {
    margin-top: 3.7rem;
}

.main__containerr {
    padding-bottom: 5rem;
}

.main-section {
    color: #8e8e94;
    font-size: 10px;
    display: inline-block;
    padding: 0% 10% 6% 10%;
    text-align: center;
}

.banner-main {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    margin: 0 0 6px 0;
    border-radius: 3px;
}

.div-flow a {
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    padding: 0.5rem;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
}

.div-flow {
    margin-top: 2.7rem;
    margin-right: 5rem;
}

.banner-main h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.banner-main h1 span {
    color: #ef5466;
}

.banner-main p {
    font-size: 10px;
}

.p__4 {
    color: #2d96c8;
}

footer {
    background: black;
}

footer p {
    color: #363636;
    padding-left: 10px;
}

footer li {
    color: #fff;
    padding: 10px;
}

.banner-main-div {
    padding: 1rem 0rem 1rem 6rem;
}

footer ol {
    list-style-type: none;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding-top: 10rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 6rem;
}

.fz {
    color: #fff;
    opacity: 0.7;
    font-size: 25px;
    margin: 10px;
}

.img-logoo {
    width: 12rem;
}

.cop {
    margin-right: 4rem;
    margin-top: 10px;
}

.hamburger {
    display: none;
}

.menu-btn {
    display: none;
}

.header .menu .navicon:before {
    top: 5px;
}

.header .menu .navicon:after {
    top: -5px;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu:not(.steps) .navicon:after {
    top: 0;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-item {
    margin-left: 5rem;
}

.link-header {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.link-header:hover {
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        margin-top: 40px;
    }
    .nav-menu.active {
        left: 0;
    }
    .link-header {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-bar {
        display: flex;
        justify-content: space-around;
        padding-bottom: 2rem;
        padding-top: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    }
    .link-header {
        padding-right: 20px;
    }
    .container-register {
        flex-direction: column;
    }
    .btn-register {
        flex-direction: column;
        text-align: center;
    }
    .block {
        text-align: center;
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }
    .p-premium {
        margin-left: 20px;
        padding: 13px;
    }
    .p-free {
        padding: 10px;
    }
    .card__container {
        flex-direction: column;
    }
    .info-site {
        flex-direction: column;
    }
    .info-site img {
        display: none;
    }
    .schedule__card {
        flex-direction: column;
    }
    .title-question {
        text-align: center;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-bottom {
        flex-direction: column;
    }
}


/*
@media (min-width: 800px) {
    .main__containerr {
        width: 764px;
        margin: 0 auto;
    }
    .card__container {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
    }
}*/